# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/

venv/*
media/*
out/*
.idea/*
db.sqlite3
.vscode
.jsbeautifyrc
TwoHandGame/settings.py
tsconfig.json
package-lock.json
node_modules