<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TwoHandGame</title>
</head>

{% load static %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link rel="stylesheet" href="{% static 'styles/popup.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

{% block content %}
<body>
  <section class="popup">
    <section class="loose-image"></section>
    <section class="popup-score"> Your score is: 0</section>
    <section class="under-button"> Try again</section>
    <button onclick="window.location.reload()" class="button-reload"></button>
  </section>
  <section class="step-counter">
    Enemy turn in: <span class="steps-quantity"></span>
  </section>
  <section class="main-inform">
    <section class="score"> Your score is: 0</section>
    <section class="lifes"> Lifes remainig: 10</section>
    <p style="margin-top: 20px;">
      <div class="b-container">
        Help
        <a href="javascript:PopUpShow()"><img style="width:25px; height: 25px;" src="{% static 'img/question.png'%}" alt=""></a>
      </div>
      <div class="b-popup" id="popup1">
        <div class="b-popup-content">
          <section class="popup-header">
            Help
            <a class="popup-cancel" href="javascript:PopUpHide()"><img class="popup-cancel-image" src="{% static 'img/close.png' %}" alt=""></a>
          </section>
          <section>
            <p style="font-weight: bold;">Controls</p>
            <p>Use W,A,S,D to move first hero.</p>
            <p>Use arrows to move second hero.</p>
            <p>Use space to hit enemies.</p>
          </section>

          <section>
            <p style="font-weight: bold;">How to play</p>
            <p>Run from enemies.</p>
            <p>Hit them to get points.</p>
            <p>Enemies turn on every fourth turn of any hero (you can see at rigth).</p>
            <p>You have some lifes at start. You loose one of them, if enemy catch you.</p>
            <p>Two and more enemies can stay at the same field. If they catch you, you get full damage.</p>
          </section>
        </div>
      </div>
    </p>
      <section>Top players</section>
        {% for player in players %}
            <section>{{ player.nickname }} - {{ player.score }}</section>
        {% endfor %}
  </section>
  <script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
  <script src="{% static 'scripts/config.js' %}"></script>
  <script src="{% static 'scripts/createField.js' %}"></script>
  <script src="{% static 'scripts/popup.js' %}"></script>
  <script src="{% static 'scripts/enemy.js' %}"></script>
  <script src="{% static 'scripts/attack.js' %}"></script>
  <script src="{% static 'scripts/move.js' %}"></script>
</body>
{% endblock %}
</html>