<!DOCTYPE html>
<html lang="en">
{% load static %}

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TwoHandGame</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" href="{% static 'styles/popup.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'styles/enemiesStyle/reaper.css' %}">
  <link rel="stylesheet" href="{% static 'styles/enemiesStyle/rogue.css' %}">
</head>

{% block content %}

<body>
  <div class="loose-page">
    <div class="loose-image"></div>
    <div class="loose-page-score"> Your score is: 0</div>
    <div class="under-button"> Try again</div>
    <button onclick="window.location.reload()" class="button-reload"></button>
  </div>
  <div class="additional-inform">
    <div style="margin-top: 20px;" class="additional-inform-field">
      <div class="b-container">
        Help
        <a href="javascript:HelpPopupShow()"><img style="width:40px; height: 40px;" src="{% static 'img/shields/2.png'%}"
            alt=""></a>
      </div>
      <div class="b-popup" id="popup1">
        <div class="b-popup-content">
          <div class="popup-header">
            Help
            <a class="popup-cancel" href="javascript:HelpPopupHide()"><img class="popup-cancel-image"
                src="{% static 'img/close(vector_version).png' %}" alt=""></a>
          </div>
          <div class="popup-main-inform">
            <div>
              <p style="font-weight: bold;">Controls</p>
              <p>Use W,A,S,D to move first hero.</p>
              <p>Use arrows to move second hero.</p>
              <p>Use space to hit enemies.</p>
            </div>

            <div>
              <p style="font-weight: bold;">How to play</p>
              <p>Run from enemies.</p>
              <p>Hit them to get points.</p>
              <p>Enemies turn on every fourth turn of any hero (you can see at rigth).</p>
              <p>You have some lifes at start. You loose one of them, if enemy catch you.</p>
              <p>Two and more enemies can stay at the same field. If they catch you, you get full damage.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="additional-inform-field">
      <div class="b-container">
        Best Players
        <a href="javascript:TopPopupShow()"><img style="width:40px; height: 40px;" src="{% static 'img/shields/3.png'%}"
            alt=""></a>
      </div>
      <div class="b-popup" id="popup2">

        <div class="b-popup-content">
          <div class="popup-header-best-players">
            <div class="best-players_easy-mode best-players_active">
              Easy mode
            </div>
            <div class="best-players_hard-mode">
              Hard mode
            </div>
            <a class="popup-cancel-best-players" href="javascript:TopPopupHide()"><img class="popup-cancel-image"
                src="{% static 'img/close(vector_version).png' %}" alt=""></a>
          </div>
          <div class="best-players_easy-mode-score best-players">

            {% for player in players %}
                <div class="username">{{ player.username }} - {{ player.score }}</div>
                <div class="date-of-score">{{ player.date_of_score }}</div>
            {% endfor %}
          </div>

          <div class="best-players_hard-mode-score best-players">
              {% for player in hard_players %}
                <div class="username">{{ player.username }} - {{ player.hardmode_score }}</div>
                <div class="date-of-score">{{ player.hardmode_date_of_score }}</div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <div class="additional-inform-field">
      <div class="b-container">
        Enemies
        <a href="javascript:EnemyPopupShow()"><img style="width:40px; height: 40px;" src="{% static 'img/shields/3.2.png'%}"
            alt=""></a>
      </div>
      <div class="b-popup" id="popup3">
        <div class="b-popup-content">
          <div class="popup-header">
            Enemies:
            <a class="popup-cancel" href="javascript:EnemyPopupHide()"><img class="popup-cancel-image"
                src="{% static 'img/close(vector_version).png' %}" alt=""></a>
          </div>
          <div class="popup-main">
            <div class="enemy-card">
              <div class="enemy-header">
                <div class="enemy-avatar">
                  <img src="../../static/img/gameareaObjects/reaper.png" alt="">
                </div>
                <div class="enemy-name"> Reaper</div>
              </div>
              <div class="enemy-description">
                Most common enemy. <br>
                Slowly move to hero side.
                Quicly spawn.
                Spawn with friend;
              </div>
            </div>
            <div class="enemy-card">
              <div class="enemy-header">
                <div class="enemy-avatar">
                  <img src="../../static/img/gameareaObjects/rogue.png" alt="">
                </div>
                <div class="enemy-name"> Rogue</div>
              </div>
              <div class="enemy-description">
                Common enemy. <br>
                Faster than reaper.
                Quicly spawn.
                Can miss the hero.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="additional-inform-field">
      <div class="b-container">
        Game website
        <a href="https://lit-hollows-53777.herokuapp.com/"><img style="width:40px; height: 40px;" src="{% static 'img/shields/3.3.png'%}"
           alt="website"></a>
      </div>
    </div>

  </div>
  <div class="main-inform">
    <div class="user">
      <div class="user-image"></div>
      {% if request.user.is_authenticated %}
      {{ request.user }}

      {% else %}
      Not logged
      {% endif %}
    </div>
    <div> Current mode: {{ mode.gamemode }}</div>
    <div class="score"> Your score is: 0</div>
    <div class="lifes"> Lifes remainig: 10</div>
    Enemy turn in: <span class="steps-quantity"></span>
    <div class="mode-buttons">
      <div class="easy-mode game-mode js-active">Easy mode</div>
      <div class="hard-mode game-mode"> Hard mode</div>


    </div>
    <script src="https://code.jquery.com/jquery-2.0.2.min.js"> </script>
    <script src="{% static 'scripts/optimization.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/config.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/createField.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/popupSwitchMode.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/popup.js' %}"></script>    
    
    <script src="{% static 'scripts/CompiledTypeScript/enemies/enemy.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/enemies/reaper.js' %}"></script>
    <script src="{% static 'scripts/enemies/rogue.js' %}"></script>

    <script src="{% static 'scripts/switchGameMode.js' %}"></script>
    <script src="{% static 'scripts/CompiledTypeScript/attack.js' %}"></script>
    <script src="{% static 'scripts/move.js' %}"></script>
</body>
{% endblock %}

</html>