<!DOCTYPE html>
<html lang="en">

  {% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
</head>

<link rel="stylesheet" href="{% static 'styles/loginStyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/registerStyle.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<body>
  <main class="main">
    <form method="POST" class="main-window" enctype="multipart/form-data">
      
      <section class="title">Registration</section>

      <section class="input-lines">
        <!-- <img src="{% static 'img\loginPage\sagesHead.png'%}" alt="" class="login-image"> -->
        <input id="name-input" type="text" name="username" class="input-field" placeholder="Name">
      </section>

      <section class="input-lines">
        <!-- <img src="{% static 'img\loginPage\shield.png'%}" alt="" class="login-image"> -->
        <input id="password-input" type="password" name="password" class="input-field" placeholder="Password">
      </section>

      <input class="enter-button" type="submit" value="Register"></input>      

      <section class="register">Already have an account?
        <a class="register-link" href="{% url 'login' %}"> Sign in</a>
      </section>

    </form>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>