.b-container {
  display: flex;
  justify-content: space-between;
}

.b-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
}
.b-popup .b-popup-content {
  margin: 40px auto 0px auto;
  background-color: white;
  width: 300px;
  padding-right: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.popup-header-best-players {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.popup-cancel-best-players {
  padding: 10px;
}

.popup-cancel-image {
  width: 25px;
  height: 25px;
}

.popup-main-inform {
  padding: 10px;
}

.best-players {
  max-height: 500px;
  overflow-y: auto;
  padding-left: 10px;
  padding-bottom: 10px;
}

.username {
  display: flex;
  margin-bottom: 2px;
  min-width: 250px;
}

.date-of-score {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Roboto';
  padding-left: 40px;
}

.username::before {
  content: "";
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  background-image: url(../img/garment.png);
  opacity: .5;
  margin-left: 10px;
}

.username:nth-child(1):before {
  content: "";
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  background-image: url(../img/goldCrown.png);
  opacity: 1;
  margin-left: 10px;
}

.username:nth-child(3):before {
  content: "";
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  background-image: url(../img/silverCrown.png);
  opacity: 1; 
  margin-left: 10px;
}

.username:nth-child(5):before {
  content: "";
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 30px;
  background-image: url(../img/bronzeCrown.png);
  opacity: 1;
  margin-left: 10px;
}

.enemy-card {
  margin-bottom: 15px;
}

.enemy-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.enemy-avatar img{
  margin-left:15px;
  width: 50px;
  height: 60px;
}

.enemy-name {
  font-weight: bold;
}

.enemy-description {
  padding:10px;
}
