* {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
}

body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: none;
}

.loose-image {
  width:100%;
  height: 80%;
  background-size: contain;
  background-position: center center;
  background-image: url(../img/loose.png);
  background-repeat: no-repeat;
  object-fit: cover;
}

.under-button {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}

.button-reload {
  height: 120px;
  width: 150px;
  background-color: grey;
  background-image: url(../img/button-reload-style.png);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  border:none;
  cursor: pointer;
  border: 2px solid black;
}

.main-inform {
  width: 15%;
  background-color: white;
  padding: 20px;
  order: 1;
  margin: 20px;
}

.game-area {
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  background-image: url(../img/bg.png);
  z-index: -2;
}

.field {
  background-position: center;
  z-index: -1;
}

.left-field {
  background-position: center;
  background-image: url(../img/left-field.png) !important;
  object-fit: cover;
  z-index: -1;
}

.firstHero {
  background-image: url(../img/firstHero_front.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.firstHero_back-side {
  background-image: url(../img/firstHero_back.png);
  background-repeat: no-repeat;
}

.firstHero_right-side {
  background-image: url(../img/firstHero_right.png);
  background-repeat: no-repeat;
}

.firstHero_left-side {
  background-image: url(../img/firstHero_left.png);
  background-repeat: no-repeat;
}

.secondHero {
  background-image: url(../img/secondHero_front.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.secondHero_back-side {
  background-image: url(../img/secondHero_back.png);
  background-repeat: no-repeat;
}

.secondHero_left-side{
  background-image: url(../img/secondHero_left.png);
  background-repeat: no-repeat;
}

.secondHero_right-side {
  background-image: url(../img/secondHero_right.png);
  background-repeat: no-repeat;
}

.enemy {
  background-image: url(../img/reaper.png) !important;
  background-repeat: no-repeat;
  z-index: 3;
}

.enemy_left-side {
  background-image: url(../img/reaper_left.png) !important;
  background-repeat: no-repeat;
  z-index: 3;
}

.step-counter {
  background-color: white;
  width: 15%;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  order:3;
}

.steps-quantity {
  width: 20px;
}

.attack-area {
  background-image: url(../img/attack-field.png);
  background-repeat: no-repeat;
  opacity: .5;
  z-index: 2;
}

.attack-event {
  background-image: url(../img/attack.png);
  opacity: 1;
}

#counter {
  width: 20px;
}