* {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.game-area {
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  order: 2;
}

.field {
  background-color: gray;
}

.firstHero {
  background-color:  tomato !important;
  z-index: 3;
}

.secondHero {
  background-color: blue !important;
  z-index: 3;
}

.enemy {
  background-color: black !important;
}

.step-counter {
  margin-top: 20px;
  padding-right: 20px;
  order:3;
}

.attack-area {
  background-color: yellow;
  opacity: .5;
  z-index: 2;
}

.attack-event {
  background-color: red !important;
  z-index: 3;
}

.score {
  width: 25%;
  order: 1;
   margin-top: 20px;
}

#counter {
  width: 20px;
}