* {
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
}

body {
  background-image: url(../img/Preview_2D_RPG_Desert_Tileset.png);
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.game-area {
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  order: 2;
  background-image: url(../img/bg.png);
  z-index: -2;
}

.field {
  background-position: center;
  z-index: -1;
}

.left-field {
  background-position: center;
  background-image: url(../img/left-field.png) !important;
  object-fit: cover;
  z-index: -1;
}

.firstHero {
  background-image: url(../img/firstHero_front.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.firstHero_back-side {
  background-image: url(../img/firstHero_back.png);
  background-repeat: no-repeat;
}

.firstHero_right-side {
  background-image: url(../img/firstHero_right.png);
  background-repeat: no-repeat;
}

.firstHero_left-side {
  background-image: url(../img/firstHero_left.png);
  background-repeat: no-repeat;
}

.secondHero {
  background-image: url(../img/secondHero_front.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.secondHero_back-side {
  background-image: url(../img/secondHero_back.png);
  background-repeat: no-repeat;
}

.secondHero_left-side{
  background-image: url(../img/secondHero_left.png);
  background-repeat: no-repeat;
}

.secondHero_right-side {
  background-image: url(../img/secondHero_right.png);
  background-repeat: no-repeat;
}

.enemy {
  background-image: url(../img/reaper.png);
  background-repeat: no-repeat;
  z-index: 3;
}

.enemy_left-side {
  background-image: url(../img/reaper_left.png) !important;
  background-repeat: no-repeat;
  z-index: 3;
}

.step-counter {
  margin-top: 20px;
  padding-right: 20px;
  order:3;
}

.steps-quantity {
  width: 20px;
}

.attack-area {
  background-image: url(../img/attack.png);
  background-repeat: no-repeat;
  opacity: .5;
  z-index: 2;
}

.attack-event {
  opacity: 1;
}

.score {
  width: 25%;
  order: 1;
   margin-top: 20px;
}

#counter {
  width: 20px;
}